<div class="">
    <header class="">

        <div class="">
            <p class=""></p>
            <a href="/post/{{id}}" class="">{{title}} </a></p>
        </div>

        <div class="">
            <span class=""> </span>
        </div>

    </header>

    <div class="">
        <div class="">
            {{post_body}}
        </div>
        <div class="">
            <b>{{user.username}}</b> | {{format_date created_at}} | <a href="/post/{{id}}">{{comments.length}}
                {{format_plural "comment" comments.length}}</a>
        </div>
    </div>